In [1]:
#import libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#read data
data =  pd.read_excel('car_data1.xlsx', index_col=0)
data

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [3]:
data['class'].value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [4]:
from sklearn.preprocessing import  LabelEncoder

In [5]:
label = LabelEncoder()

In [7]:
data1 = data.apply(label.fit_transform)
data1

      buying  maint  doors  persons  lug_boot  safety  class
0          3      3      0        0         2       1      2
1          3      3      0        0         2       2      2
2          3      3      0        0         2       0      2
3          3      3      0        0         1       1      2
4          3      3      0        0         1       2      2
...      ...    ...    ...      ...       ...     ...    ...
1723       1      1      3        2         1       2      1
1724       1      1      3        2         1       0      3
1725       1      1      3        2         0       1      2
1726       1      1      3        2         0       2      1
1727       1      1      3        2         0       0      3

[1728 rows x 7 columns]

In [11]:
#data1['class'].value_counts()


X = data1.iloc[:, :-1]
y = data1.iloc[:,-1]

In [4]:
!pip install imblearn

Collecting imblearn
  Using cached imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Collecting imbalanced-learn
  Using cached imbalanced_learn-0.8.0-py3-none-any.whl (206 kB)
Requirement already satisfied: scipy>=0.19.1 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.5.2)

ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'c:\\programdata\\anaconda3\\lib\\site-packages\\scikit_learn-0.23.2.dist-info\\COPYING'
Consider using the `--user` option or check the permissions.

Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (0.17.0)
Requirement already satisfied: numpy>=1.13.3 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.19.2)
Collecting scikit-learn>=0.24
  Using cached scikit_learn-0.24.2-cp38-cp38-win_amd64.whl (6.9 MB)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.24->imbalanced-learn->imblearn) (2.1.0)
Installing collected packages: scikit-learn, imbalanced-learn, imblearn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 0.23.2
    Uninstalling scikit-learn-0.23.2:

In [9]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=10)

In [13]:
X_train.shape, y_train.shape , X_test.shape , y_test.shape

((1382, 6), (1382,), (346, 6), (346,))

In [14]:
from sklearn.neighbors import KNeighborsClassifier

In [15]:
model =  KNeighborsClassifier()  #initialize model
model.fit(X_train, y_train) #fit model
predicted  = model.predict(X_test)
#predicted

In [16]:
#import metrics


from sklearn.metrics import confusion_matrix, accuracy_score , f1_score

In [17]:
confusion_matrix(y_true=y_test, y_pred=predicted)

array([[ 49,   2,  13,   0],
       [  3,  10,   0,   0],
       [  1,   0, 250,   0],
       [  2,   3,   2,  11]], dtype=int64)

In [18]:
pd.crosstab(y_test, predicted)
accuracy_score(y_test, predicted)

0.9248554913294798

In [19]:
from imblearn.over_sampling import SMOTE   #importing smote

In [20]:
oversampling =  SMOTE() #initializing SMOTE

In [21]:
X_train_over , y_train_over  = oversampling.fit_resample(X_train.astype('float'), y_train)

X_train_over

        buying     maint     doors  persons  lug_boot  safety
0     3.000000  0.000000  1.000000      2.0  2.000000     1.0
1     1.000000  3.000000  1.000000      1.0  2.000000     2.0
2     1.000000  0.000000  3.000000      2.0  0.000000     1.0
3     0.000000  2.000000  2.000000      0.0  2.000000     2.0
4     1.000000  1.000000  1.000000      2.0  0.000000     2.0
...        ...       ...       ...      ...       ...     ...
3831  2.000000  1.000000  2.068476      2.0  0.000000     0.0
3832  1.000000  2.000000  2.418561      1.0  0.581439     0.0
3833  1.000000  0.000000  0.883935      1.0  0.000000     0.0
3834  1.107875  0.107875  3.000000      1.0  1.000000     0.0
3835  1.526004  2.000000  2.000000      2.0  0.000000     0.0

[3836 rows x 6 columns]

In [22]:
X_train_over.shape, y_train_over.shape


print(y_train_over.value_counts())

0    959
2    959
1    959
3    959
Name: class, dtype: int64

In [23]:
model.fit(X_train_over, y_train_over) #fit the oversampled data

KNeighborsClassifier()

In [24]:
predicted_over = model.predict(X_test)

In [25]:
pd.crosstab(y_test, predicted_over)

col_0   0   1    2   3
class
0      53   2    8   1
1       1  12    0   0
2       4   0  247   0
3       0   3    0  15

In [26]:
accuracy_score(y_test, predicted_over)

0.9450867052023122

In [ ]:
!pip install imblearn