In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
churn=pd.read_csv('Bank.csv')

In [3]:
churn.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
churn.tail()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
9995,15606229,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,15569892,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,15584532,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,15682355,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,15628319,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
churn.describe()

,customer_id,credit_score,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
count,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [6]:
print(churn.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       10000 non-null  int64
 1   credit_score      10000 non-null  int64
 2   country           10000 non-null  object
 3   gender            10000 non-null  object
 4   age               10000 non-null  int64
 5   tenure            10000 non-null  int64
 6   balance           10000 non-null  float64
 7   products_number   10000 non-null  int64
 8   credit_card       10000 non-null  int64
 9   active_member     10000 non-null  int64
 10  estimated_salary  10000 non-null  float64
 11  churn             10000 non-null  int64
dtypes: float64(2), int64(8), object(2)
memory usage: 937.6+ KB
None

In [7]:
churn.isnull().sum()

customer_id         0
credit_score        0
country             0
gender              0
age                 0
tenure              0
balance             0
products_number     0
credit_card         0
active_member       0
estimated_salary    0
churn               0
dtype: int64

In [8]:
def Cust_churn(churn):
    if churn==0:
        return 'Stayed'
    elif Type==1:
        return 'Left'

In [10]:
churn['Cust_churn']=churn['churn'].apply(Cust_churn)
churn.head()

NameError: name 'Type' is not defined

In [ ]:
churn.to_csv("custchurn.csv")

In [ ]:
sns.countplot(x='churn', data=churn)
churn.churn.value_counts()

### PREPROCESSING DATA (CONVERTING CATEGORICAL TO NUMERICAL DATA)¶

In [ ]:
churn['gender'].unique()

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
churn_encode = churn['gender']
gender_encoded = label_encoder.fit_transform(churn_encode)
gender_encoded[0:5]

In [ ]:
gender_DF = pd.DataFrame(gender_encoded, columns=['sex'])
gender_DF.head()

In [ ]:
churn['country'].unique()

In [ ]:
country_cat = churn['country']
country_encoded = label_encoder.fit_transform(country_cat)
country_encoded[0:100]

In [ ]:
from sklearn.preprocessing import OneHotEncoder
ohe  = OneHotEncoder(categories='auto')

country_1hot = ohe.fit_transform(country_encoded.reshape(-1,1))
country_1hot_mat = country_1hot.toarray()
country_DF = pd.DataFrame(country_1hot_mat, columns = ['France', 'Spain', 'Germany'])
country_DF.head()

In [ ]:
churn.drop(['gender', 'country'], axis=1, inplace=True)
churn.head()

In [ ]:

churn_data = pd.concat([churn, gender_DF, country_DF], axis=1, ).astype(float)
churn_data[0:5]

In [ ]:
#split data into x and y

x  =  churn_data.drop('churn', axis =1)
y  = churn_data['churn']

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=200)

In [ ]:
print(X_train.shape)
print(y_train.shape)

In [ ]:
X_train[0:5]

In [ ]:

from sklearn.linear_model import LogisticRegression


LogReg = LogisticRegression()
LogReg.fit(X_train, y_train)
print("Accuracy for LogisticRegression:", round(LogReg.score(X_train, y_train) * 100, 2))
print("Accuacy Score for LogisticRegression while Test:",round(LogReg.score(X_test, y_test)*100,2))

In [ ]:

from sklearn.svm import SVC
svc = SVC(probability=True)
svc.fit(X_train, y_train)

print("Accuracy for SVC:", round(svc.score(X_train, y_train) * 100, 2))
print("Accuracy Score for SVC while Test:",round(svc.score(X_test, y_test)*100,2))

In [ ]:
from sklearn import tree
#Build
decision_tree = tree.DecisionTreeClassifier(max_depth=5) 
#Train
decision_tree.fit(X_train, y_train)

#Make prediction
decision_tree.score(X_test,y_test)
Y_pred = decision_tree.predict(X_test)
print("Accuracy for DecisionTreeClassifier:", round(decision_tree.score(X_train, y_train) * 100, 2))
print("Accuracy Score for DecisionTreeClassifier while test:", round(decision_tree.score(X_test,y_test)* 100, 2))

In [ ]:

from sklearn.ensemble import RandomForestClassifier
random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, y_train)

print("Accuracy for RandomForestClassifier:", round(random_forest.score(X_train, y_train) * 100, 2))
print("Accuracy Score for RandomForestClassifier while test:",round(random_forest.score(X_test, y_test)*100,2))